<div class="container">
<!-- フラッシュメッセージ -->
	<p id="notice"><%=  notice %></p>
		<div class="row">
<!-- サイドバー -->
			<div class="col-xs-3" >
				<%= render 'users/user_info' %>
			</div>
<!-- メイン -->
			<div class="col-xs-9">
				<h1>Your Novels</h1>
					<table class="table">
						<thead>
							<tr>
								<th>タイトル</th>
								<th>キャプション</th>
								<th colspan="3"></th>
							</tr>
						</thead>
						<tbody>
							<% @user.novels.each do |novel| %>
								<tr>
									<td><%= link_to novel.title, novel_path(novel.id) %>
									</td>
									<td><%= novel.caption %>
									</td>
									<td>
										<span class="glyphicon glyphicon-heart"><%= novel.favorites.count%>いいね</span>
									</td>
									<td>
        								<p class="comment-count"><%= novel.comments.count %>コメント</p>
  									</td>
  									<% if @novel.user == current_user %>
          							<td><%= link_to '編集', edit_novel_path(@novel), class: "btn-sm btn-success edit_novel_#{@novel.id}" %>
          							</td>
          							<td><%= link_to '削除', @novel, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_novel_#{@novel.id}"%>
          							</td>
        							<% end %>
								</tr>
							<% end %>
						</tbody>
					</table>

			</div>
		</div>
</div>