<div class='container'>
<!-- 説明文 -->
	<div class="row top-introduction">
		<div class="top-introduction-text">
		<h1>　Your Novelsにようこそ</h1>
			<p>　　「Your Novels」は手軽に小説を書く事ができるサイトです。</p>
			<p>　　ちょっとした空き時間を利用して創作を楽しんでみませんか？</p>
			<br>
			<p>　　本サイトについて詳しく知りたい方は上部の「Your Novelsとは？」をご覧ください。</p>
		</div>
	</div>

<!-- ランキング -->
	<div class="row">
		<div class="novel-index col-xs-12">
			<h3><%= image_tag 'ranking.jpg' %>人気ランキング</h3>
				<table class="table">
					<thead>
						<tr>
							<th colspan="1">順位</th>
							<th>タイトル</th>
							<th>ジャンル</th>
							<th>作者</th>
							<th>キャプション</th>
							<th colspan="2"></th>
						</tr>
					</thead>

					<tbody>
						<% @novels.each.with_index(1) do |novel, i| %>
							<tr>
								<td><%= i %>位</td>
								<td><%= link_to novel.title, novel_path(novel.id) %></td>
								<td><%= novel.genre %></td>
								<td>
									<%= link_to novel.user.name, user_path(novel.user_id) %>
								</td>
								<td><%= novel.caption %></td>
					<!-- いいね！カウント -->
								<td>
									<span class="glyphicon glyphicon-heart"><%= novel.favorites.count%>いいね</span>
								</td>
					<!-- コメントカウント -->
								<td>
									<%= novel.comments.count %>コメント
  								</td>
							</tr>
						<% end %>
					</tbody>
				</table>

		</div>
	</div>
</div>