<div class='container'>
	<div class="row">
<!-- サイドバー(ユーザー情報、メニュー) -->
			<div class="col-xs-3" >
				<%= render 'users/user_info' %>
			</div>

<!-- メイン(メモ一覧) -->
			<div class="col-xs-9">
				<h4>メモ一覧</h4>
				<table class="table">
					<thead>
						<tr>
							<th>タイトル</th>
							<th>本文</th>
							<th colspan="3"></th>
						</tr>
					</thead>

					<tbody>
						<% @memos.each do |memo| %>
							<tr>
								<td><%= link_to memo.title, memo_path(memo.id) %></td>
								<td><%= memo.body.html_safe %></td>
								<td><%= link_to '編集', edit_memo_path(memo), class: "btn-sm btn-success" %>
          							<%= link_to '削除', memo_path(memo), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger"%>
          						</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
	</div>
</div>