<!DOCTYPE html>
<html>
  <head>
    <title>Your Novels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top:50px">
    <header>
      <nav class="navbar navbar-fixed-top navbar-light bg-info">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Your Noels</a>
          </div>
          <div class="collapse navbar-collapse" id="navbarEexample8">
<!-- ここからナビゲーション -->
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li>
                  <a href="" class="btn-sm btn-info">マイページ</a>
                </li>
                <li>
                  <a href="" class="btn-sm btn-info">小説を書く</a>
                  <!-- 小説作成画面 -->
                </li>
                <li>
                 <a href="" class="btn-sm btn-info">小説を読む</a>
                  <!-- 小説一覧画面 -->
                </li>
                <li>
                  <a href="" class="btn-sm btn-info">ログアウト</a>
                </li>
              <% else %>
                <li>
                  <%= link_to 'ホーム', root_path, class:"btn-sm btn-info" %>
                  <!-- topに戻る -->
                </li>
                <li>
                  <%= link_to 'About', home_about_path, class:"btn-sm btn-info" %>
                  <!-- aboutに移動ーhome/about -->
                </li>
                <li>
                  <%= link_to '新規登録', new_user_registration_path, class:"btn-sm btn-info" %>
                </li>
                <li>
                  <%= link_to 'ログイン', new_user_session_path, class:"btn-sm btn-info" %>
                </li>
              <% end %>
            </ul>
<!-- ここまでナビゲーション -->
            <p class="navbar-text">ようこそゲストさん。</p>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="検索キーワード">
              </div>
              <button type="submit" class="btn btn-default">検索</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

  <%= yield %>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-xs-offset-5">
              <p class="footer-text">Your Novels</p>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
