<!DOCTYPE html>
<html>
  <head>
    <title>Your Novels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top:50px">
    <header>
      <nav class="navbar navbar-fixed-top navbar-light" style="background-color: #CCFFFF;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to('Your Noels', root_path, {class: "navbar-brand"}) %>
          </div>
          <div class="collapse navbar-collapse" id="navbarEexample8">
<!-- ここからナビゲーション -->
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'マイページ', user_path(current_user) %>
                </li>
                <li>
                  <%= link_to '小説を書く', new_novel_path %>
                  <!-- 小説作成画面 -->
                </li>
                <li>
                 <%= link_to '小説を探す', novels_path %>
                  <!-- 小説一覧画面 -->
                </li>
                <li>
                  <%= link_to 'ユーザー一覧', users_path %>
                </li>
                <li>
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'ホーム', root_path %>
                  <!-- topに戻る -->
                </li>
                <li>
                  <%= link_to 'About', home_about_path %>
                  <!-- aboutに移動ーhome/about -->
                </li>
                <li>
                 <%= link_to '小説を探す', novels_path %>
                  <!-- 小説一覧画面 -->
                </li>
                <li>
                  <%= link_to '新規登録', new_user_registration_path %>
                </li>
                <li>
                  <%= link_to 'ログイン', new_user_session_path %>
                </li>
              <% end %>
            </ul>
<!-- ここまでナビゲーション -->
            <% if user_signed_in? %>
              <p class="navbar-text">ようこそ<%= current_user.name %>さん。</p>
            <% else %>
              <p class="navbar-text">ようこそゲストさん。</p>
            <% end %>

<!-- 検索機能 -->
              <div class="navbar-form navbar-left">
                <%= form_tag(search_path, method: :get) do %>
                  <%= text_field_tag 'search[content]' %>
                  <%= select_tag 'search[model]', options_for_select({ "小説" => "novel", "ユーザー" => "user" }) %>
                  <%= submit_tag '検索' %>
                <% end %>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </header>

  <%= yield %>

<!-- 以下フッダー -->
      <footer class="footer" style="background-color: #CCFFFF;">
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-xs-offset-5">
              <p class="footer-text">Your Novels</p>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
