<!DOCTYPE html>
<html>
  <head>
    <title>YourNovels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-xs-offset-9">
              <p class="footer-text">Your Novels</p>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
